<div *ngIf="shouldDisplayFileConverterList()" id="fileConverterList">
	<div>
		<button (click)="filterAutomatic()">{{"FILTER_AUTOMATIC" | translate}}</button>
		<button (click)="filterManual()">{{"FILTER_MANUAL" | translate}}</button>
		<button (click)="clearFilter()">{{"CLEAR" | translate}}</button>
	</div>
	<app-file-converter *ngFor="let file of fileList" [file]="file" [versionFrom]="versionFrom" [versionTo]="versionTo"
		[shouldFilterAutomatic]="shouldFilterAutomatic" [shouldFilterManual]="shouldFilterManual"
		(displayConvertedCode)="handleDisplayConvertedCode($event)"></app-file-converter>
</div>